<html>

<body>

    <div>List of all users</div>
    <div>Firs name - Last name - email </div>
    {{#users}}
    <div>
        <b>{{id}}</b>
        <b>{{firstName}}</b>
        <b>{{lastName}}</b>
        <b>{{email}}</b>
    </div>>
    {{/users}}
</body>
</html>